<div class="container">
	<h1 class="jumbotron-heading">Home Page</h1>
	<div class="container">
		<div class="row">
			<div class="col">
				<p>Lorem ipsum dolor sit amet, est ipsum fugit ut. Cu lorem iudicabit usu, eam eu similique voluptatibus signiferumque. Ea magna homero molestiae est, wisi veri mel ei, ad magna erant vel. Oblique torquatos rationibus ea eum, ei molestiae maiestatis percipitur eum. Ad velit constituam sed. Ut alia meis utinam per, cu civibus dignissim pro.</p>
			</div>
			<div class="col">
				<p>Lorem ipsum dolor sit amet, est ipsum fugit ut. Cu lorem iudicabit usu, eam eu similique voluptatibus signiferumque. Ea magna homero molestiae est, wisi veri mel ei, ad magna erant vel. Oblique torquatos rationibus ea eum, ei molestiae maiestatis percipitur eum. Ad velit constituam sed. Ut alia meis utinam per, cu civibus dignissim pro.</p>
			</div>
		</div>
	</div>

